* {
  font-family: 'Poppins', sans-serif;
}

body {
  height: auto;
  font-size: 14px;
}

a {
  box-shadow: none;
}

.ui.header:first-child {
  margin-top: -.14285714em;
}

.blue {
  color: #318ba2;
}

.ui.basic.colored.segment {
  background-color: #f9feff;
}

h1.ui.header,
h2.ui.header,
h3.ui.header,
h4.ui.header,
h5.ui.header,
h6.ui.header {
  font-family: 'Poppins', sans-serif;
}

h1.ui.thin.header,
h2.ui.thin.header,
h3.ui.thin.header,
h4.ui.thin.header,
h5.ui.thin.header,
h6.ui.thin.header {
  font-weight: 300;
}

h1.ui.big.header {
  font-size: 4em;
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
}

h3.ui.header {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

p {
  line-height: 1.5em;
  font-size: 1.25em;
}

.ui.large.secondary.inverted.pointing.menu {
  border: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead h1.ui.header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead .ui.container {
  position: relative;
  z-index: 2;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.step.header .step {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #318ba2;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 0.7em;
  margin-bottom: 1em;
}

.ui.step.header .content {
  display: block;
}

.hero.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5 !important;
}

.gatsby-background-image-hero-image:after,
.gatsby-background-image-hero-image:before,
.gatsby-background-image-screening:after,
.gatsby-background-image-screening:before,
.gatsby-background-image-footer:after,
.gatsby-background-image-footer:before {
  background-position: center !important;
}

.ui.vertical.basic.stripe.segment:after {
  content: '';
  height: 2px;
  width: 120px;
  position: absolute;
  background-color: #318ba2;
  bottom: 0;
  left: calc(50% - 60px);
}

.ui.inverted.segment {
  background-color: #0d3641;
}

.masthead .ui.form.segment {
  padding: 4em;
}

.masthead .ui.form.segment h1 {
  font-size: 2.3em;
  font-weight: 700;
  text-align: left;
}

.masthead .ui.form.segment h1.ui.header .sub.header {
  margin-top: 1em;
}

.masthead .ui.form.segment h2 {
  font-size: 1.2em;
  text-align: left;
}

.masthead .ui.container.grid .row {
  margin-top: 3em;
  margin-bottom: 3em;
  align-items: center;
}

.masthead .ui.form .ui.header {
  margin-bottom: 1em;
}

.ui.primary.button {
  background-color: #318ba2;
}

.form.segment {
  border-radius: 5px;
}

.form.button {
  margin-top: 2em;
}

.ui.segment.footer-cta {
  background-color: #0d3641;
}

.footer-cta .background {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5 !important;
}

.footer-cta .row {
  position: relative;
  z-index: 2;
}

.footer-cta .ui.big.header {
  font-size: 2.75em;
}

.footer-cta .ui.white.button {
  background-color: white;
  color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.contact {
  margin-top: 1em;
}

.contact-method {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  color: white;
  box-shadow: none;
}

.contact-method:hover {
  color: white;
}

a.unstyled {
  color: rgba(0,0,0,.87);
}

.social {
  color: #318ba2;
}

a {
  color: #318ba2;
}

.a7.ui.grey.segment {
  background-color: #f7f7f7 !important;
  border-top: none !important;
}

.a7.ui.blue.inverted {
  background-color: #318ba2 !important;
}

.ui.inverted.segment.screening {
  background-color: #081333;
}

.screening > .container {
  position: relative;
  z-index: 2;
}

.screening .background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2 !important;
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
}

.screening-item {
  margin-top: 2em;
}

.screening .header.icon > .icon {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.screening .column {
  text-align: center !important;
}

.motivation h1.ui.header {
  margin-bottom: 0.5em;
}

.motivation h3.ui.header {
  font-weight: 300;
}

.reasons .row .column {
  text-align: center !important;
}

@media only screen and (max-width: 768px) {
  .footer .column {
    text-align: center !important;
  }

  .steps-about {
    text-align: center;
  }

  #team .ui.card.employee > .image {
    height: 350px !important;
  }

  #team .grid.members .ui.card.employee {
    margin: 0 auto;
  }

  #team .ui.card.employee .content .header {
    text-align: center;
  }

  #team .ui.big.header {
    text-align: center;
  }
}

#contact-success {
  display: none;
}

.contact-social .social {
  color: rgba(0,0,0,.6)
}

.contact-social .social:hover {
  color: rgba(0,0,0,.8)
}

#team .masthead.segment {
  min-height: 400px;
}

#team .ui.card.employee > .image {
  height: 250px;
  background-color: #0d3641;
}

#team .ui.card.employee .content .header {
  font-size: 0.9em;
}

#team .ui.card.employee {
  margin-bottom: 2em;
}

#team .employee .image .bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8 !important;
}

#team .employee .image .bg:after {
  background-position: center;
}

#team .masthead.segment .ui.inverted.header {
  text-align: center;
  font-weight: bold;
}

#contact .masthead.segment {
  min-height: 400px;
}

#contact .masthead.segment .ui.inverted.header {
  text-align: center;
  font-weight: bold;
}

#contact .contact-method h3.ui.icon.header .icon {
  color: rgba(0,0,0,.6);
  text-align: left;
  font-size: 1.5em;
}

#contact .contact-method p {
  color: rgba(0,0,0,.6);
  font-weight: 300;
}

#contact .contact-method p.more-info {
  line-height: 0.7;
}

#contact .contact-method small {
  font-size: 60%;
  line-height: 1;
}

#contact #map {
  width: 100%;
  height: 450px;
}
